node_modules
.env
answers.csv
questions.csv
answers_photos.csv
answersPhotosTransformed.csv
/Users/archaareads/Documents/Code/SDC/qa-service/db/data/answersPhotosTransformed.csv
db/data/answersPhotosTransformed.csv
db/data